#uappmanager{
	margin-top:10px;
}
#um-sortable .small,#um-sortable .more{
	width:25%;
	float:left;
	height:80px;
	position:relative;
	padding:10px;
	text-align:center;
}
#um-sortable .delete {
    display: none;
    top: 4px;
    left: 20px;
    position: absolute;
	width:16px;
	height:16px;
	background:url(../img/close.png) no-repeat;
	background-size:16px 16px;
}
#um-sortable .dragli .delete{
	display: block;
}
.um-header-fixed{
	width:100%;
	position: fixed;
	top: 0;
	left:0;
	padding:6px 10px;
	z-index:99999;
	background:rgba(255,255,255,0);
}
.um-scan{
	text-align:center;
	margin-right:10px;
}
.um-scan img{
	width:21px;
	height:20px;
}
.um-scan .f12{
	color:#ffffff;
}
.um-input-group{
	margin-top:3px;
	
}
.um-header-fixed .form-control{
	height:36px;
	border-radius:5px 5px;
}
.um-input-group span[class^="t-"] + input.form-control{
	padding-left:32px;
	padding-right:36px;
}
.um-input-group span[class^="t-"]{
	position:absolute;
	z-index: 5;
}
.um-input-group span.t-search{
	width:38px;
	height:36px;
	background:url(../img/fdj.png) no-repeat center center;
	background-size:14px 14px;
	left:0px;
	top:0px;
	
}
.um-input-group span.t-camera{
	width:44px;
	height:36px;
	background:url(../img/camera.png) no-repeat center center;
	background-size:20px 16px;
	left:auto;
	right:0;
	top:0px;
}
.um-input-group .btn:not(:first-child):not(:last-child), .um-input-group .btn-bg:not(:first-child):not(:last-child), .um-input-group .um-btn:not(:first-child):not(:last-child), .um-input-group .form-control:not(:first-child):not(:last-child){
	border-radius:5px;
}