.nav-open .nav ul {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  z-index: 1;
}
.nav-open .nav-toggle {
  box-shadow: none;
  z-index: 1;
}
.nav-open .nav-toggle:before {
  width: 1500px;
  height: 1500px;
  background-color: rgba(74, 117, 230, 0.95);
}
.nav-open .nav-toggle .icon {
  width: 0;
}
.nav-open .nav-toggle .icon:before {
  -webkit-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
}
.nav-open .nav-toggle .icon:after {
  -webkit-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
}
.nav-toggle {
  width: 60px;
  height: 60px;
  z-index: 2;
  border-radius: 50%;
  margin: 10px;
  position: absolute;
  cursor: pointer;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all ease-out 0.66s;
     transition: all ease-out 0.66s;
  bottom: 0;
  right: 0;
}
.nav-toggle:before {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #4A75E6;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all ease-out 0.66s;
     transition: all ease-out 0.66s;
}
.nav-toggle .icon {
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  position: absolute;
  top: 28px;
  left: 15px;
  -webkit-transition: all ease-out 0.5s;
     transition: all ease-out 0.5s;
}
.nav-toggle .icon:before,
.nav-toggle .icon:after {
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all ease-out 0.5s;
     transition: all ease-out 0.5s;
}
.nav-toggle .icon:before {
  top: -9px;
}
.nav-toggle .icon:after {
  top: 9px;
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.nav ul {
   -webkit-transition: all ease-out 0.5s;
     transition: all ease-out 0.5s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
          z-index: -1;
}
.nav li a {
  display: block;
  padding: 10px 0;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
