<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yonyou.simon"
    android:hardwareAccelerated="true"
    android:versionCode="1"
    android:versionName="0.0.1">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/app"
        android:label="@string/appname"
        android:name="com.yyuap.summer.application.YYApplication">
        <activity
            android:name="com.yyuap.summer.MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:label="@string/appname"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:windowSoftInputMode="stateHidden">
			<intent-filter android:label="@string/appname">
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>
        <activity
            android:name="com.yyuap.summer.core.SummerActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:label="@string/appname"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="org.apache.cordova.CordovaActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:label="@string/appname"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.yyuap.summer.TestActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:label="@string/appname"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.yyuap.summer.control.imageselects.activity.ImageGridActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"></activity>
        <activity
            android:name="com.yyuap.summer.control.imageselects.activity.TestPicActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"/>
        <activity
            android:name="com.yyuap.summer.control.imageselects.activity.PhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"/>
        <activity
            android:name="com.yyuap.summer.control.imageselects.activity.AlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"></activity>
        <activity android:name="com.yyuap.summer.control.imageselects.activity.ImageFile"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"></activity>
        <activity android:name="com.yyuap.summer.control.imageselects.activity.ShowAllPhoto"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"></activity>
        <activity android:name="com.yyuap.summer.control.imageselects.activity.GalleryActivity"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"></activity>
        <activity android:name="com.yonyou.uap.um.control.UMTwoDCodeActivity" 
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <intent-filter>
                <action android:name="com.yonyou.uap.um.control.UMTwoDCode" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.yonyou.uap.um.control.UMCameraActivity" 
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <intent-filter>
                <action android:name="com.yonyou.uap.um.control.UMCamera" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
