/* *
CSS base
* @name:base
* @version:1.0
* @type:基类
* @explain:iuap mobile
*/
@charset "utf-8";

body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{/* font-size:100%; */font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0}
input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"] > input[type="button"]::-moz-focus-inner,button::-moz-focus-inner{border:none;padding:0;}
/* 文字排版 */
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.fb{font-weight:bold}
.fn{font-weight:normal}
.t2{text-indent:2em}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}
.unl{text-decoration:underline}
.no_unl{text-decoration:none}
.cp{cursor:pointer}
.ti{text-indent:-9999px;}
/* 定位 */
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.bc{margin-left:auto;margin-right:auto;}
.fl{float:left;display:inline}
.fr{float:right;display:inline}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.clearfix{display:block}/* 
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden} */
.clearfix:before, .clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
* html .clearfix{height:1%}
.db{display: block;}
.dib{display: inline-block;}
.vm{vertical-align:middle}
.vt{vertical-align:top}
.vb{vertical-align:bottom}
.pr{position:relative}
.pa{position:absolute}
.zoom{zoom:1}
.hidden{visibility:hidden}
.none{display:none!important;}
.ib{display:inline-block;zoom:1;*display:inline;}
.l0{left:0}
.r0{right:0}
.t0{top:0}
.b0{bottom:0}
/* 长度高度 */
.w10{width:10px}
.w20{width:20px}
.w30{width:30px}
.w40{width:40px}
.w50{width:50px}
.w60{width:60px}
.w70{width:70px}
.w80{width:80px}
.w90{width:90px}
.w100{width:100px}
.w200{width:200px}
.w250{width:250px}
.w300{width:300px}
.w400{width:400px}
.w500{width:500px}
.w600{width:600px}
.w700{width:700px}
.w800{width:800px}
.w980{width:980px}
.w5p{width:5%!important;}
.w7p{width:7%!important;}
.w10p{width:10%!important;}
.w12p{width:12%!important;}
.w15p{width:15%!important;}
.w17p{width:17%!important;}
.w20p{width:20%!important;}
.w25p{width:25%!important;}
.w{width:100%}
.h50{height:50px}
.h80{height:80px}
.h100{height:100px}
.h200{height:200px}
.h{height:100%}
/* 边距 */
.m10{margin:10px}
.m15{margin:15px}
.m30{margin:30px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt40{margin-top:40px}
.mt50{margin-top:50px}
.mt100{margin-top:100px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px}
.mb40{margin-bottom:40px}
.mb50{margin-bottom:50px}
.mb100{margin-bottom:100px}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml40{margin-left:40px}
.ml50{margin-left:50px}
.ml100{margin-left:100px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr30{margin-right:30px}
.mr40{margin-right:40px}
.mr50{margin-right:50px}
.mr100{margin-right:100px}
.p1{padding:1px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p30{padding:30px;}
.pt1{padding-top:1px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt40{padding-top:40px}
.pt50{padding-top:50px}
.pb1{padding-bottom:1px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pb30{padding-bottom:30px}
.pb40{padding-bottom:40px}
.pb50{padding-bottom:50px}
.pb100{padding-bottom:100px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl30{padding-left:30px}
.pl40{padding-left:40px}
.pl50{padding-left:50px}
.pl100{padding-left:100px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr30{padding-right:30px}
.pr40{padding-right:40px}
.pr50{padding-right:50px}
.pr100{padding-right:100px}
/* 虚线 */
.bRed{border:1px dashed #F00}
.bBlack{border:1px dashed #000}
.bGreen{border:1px dashed #0F0}
.bBlue{border:1px dashed #00F}
/* 圆角 */
.br5{border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.br10{border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
.br20{border-radius:20px;-webkit-border-radius:20px;-moz-border-radius:20px;}
/* 溢出 */
.oh{overflow:hidden}
.oa{overflow:auto}
/* 文字溢出 */
.te{-webkit-text-overflow:ellipsis;-moz-text-overflow:ellipsis;-o-text-overflow:ellipsis;text-overflow:ellipsis;}
/* 透明 */
.o0{opacity:0;filter:alpha(opacity=0);}
.o50{opacity:50;filter:alpha(opacity=50);}
::-webkit-scrollbar{height:11px;width:10px;background-color:#f0f0f0;}
::-webkit-scrollbar-thumb{padding-top:100px;-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,0.1),inset -1px -1px 0 rgba(0,0,0,0.07);background-clip:padding-box;background-color:#dadada;min-height:28px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
::-webkit-scrollbar-button{height:0;width:0;}
::-moz-focus-inner{border:0}
.dbox{display:-webkit-box;display:box;}
.bav{-webkit-box-orient:vertical;box-orient:vertical;}
.bpc{-webkit-box-pack:center;box-pack:center;}
.bac{-webkit-box-align:center;box-align:center;}
.bov{-webkit-box-orient:vertical;box-orient:vertical;}
.bf1{-webkit-box-flex:1;box-flex:1;}
.bf2{-webkit-box-flex:2;box-flex:2;}
.bf3{-webkit-box-flex:3;box-flex:3;}
.bf4{-webkit-box-flex:4;box-flex:4;}