.box-hv-center {
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	text-align: center;
}
#page1.ui-page-active {
	display:-webkit-box;
	padding:.25em .5em 0 .5em;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	background: url(../img/bg.jpg) bottom no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.activeWindow {
	background: #47D092;
	background: rgba(71, 208, 146, 0.8);
}
.uiControl {
	background: #A8D062;
	background: rgba(168, 208, 98, 0.8);
}
.thirdapi {
	background: #209be7;
	background: rgba(32, 155, 231, 0.6);
}
.mediaapi{
	background: #5968D2;
	background: rgba(89, 104, 210, 0.6);
}
.exapi {
	background: #459875;
	background: rgba(69, 152, 117, 0.7);
}
.sysapi {
	background: #3F73E5;
	background: rgba(229, 208, 63, 0.6);
}
.uiapi {
	background: #52d1cd;
	background: rgba(82, 209, 205, 0.7);
}
.netapi {
	background: #4B80B5;
	background: rgba(75, 128, 181, 0.8);
}
a.box-hv-center {
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	margin:5px;
	color: #fff !important;
}
a.box-hv-center:hover, a.box-hv-center:active{
	 -webkit-filter:brightness(.9);
	 -webkit-transform: scale(0.95,0.9);
	 transform: scale(0.95,0.9);
}
.box-align-justify span {
	font-size: 30px;
	color: #e2e2e2;
}
.box-align-justify {
	display: -webkit-box;
	-webkit-box-pack: justify;
	-webkit-box-align: center;
	padding: 0 5px;
}
img {
	display: block;
	vertical-align: middle;
	margin-bottom: 5px;
}
.ui-collapsible-set {
	padding: 0;
}
.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe-wrap > div {
	float: left;
	width: 100%;
	position: relative;
}