.um-table-container {
	overflow: hidden;
	width: 100%;
	background-color: #fff;
	color: $font-color;
	table {
		border-collapse: collapse;
		td {
			padding: 6px;
			vertical-align: middle;
			// border-bottom: 1px solid #ddd;
			text-align: center;
		}
	}
	.um-tb-data-table tr,.um-tb-body-left>table tr {
		border-bottom: 1px solid #ddd;
	}
	thead>tr {
		background-color: $um-theme-color;
		color: #fff;
		font-weight: 500;
	}
	.um-tb-header-left>table tr,
	.um-tb-header-title>table tr,
	.um-tb-body-left>table tr{
		background-color: #6f99a7;
		color: #fff;
		font-weight: bold;
	}
}
.um-tb-header,
.um-tb-body {
	overflow:hidden;
	@include flex-align;
}
.um-tb-header-left {
	overflow-x:hidden;
}
.um-table-head {
	text-align: center;
	border: 1px solid #ddd;
	border-bottom: none;
	padding: 6px;
}
.um-tb-header-title {
	overflow-x:hidden;
	@include flex-count;
	>table {
		position: relative;
		width: 900px;
	}
}
.um-tb-body-left {
	overflow-x:auto;
	overflow-y: hidden;
	float: left;
	height: 150px;
	>table {
		position: relative;
	}
}
.um-tb-data {
	@include flex-count;
	height:150px;
	overflow:auto;
}
.um-tb-data-table {
	width: 900px;
}
