.um-listgroup-wrap {
   -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	margin-left:-15px;
	margin-right:-15px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.um-listgroup-wrap::-webkit-scrollbar {
    width: 0px
}

.um-listgroup-up, .um-listgroup-down {
    height: 0;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.um-listgroup-refresh, .um-listgroup-update, .um-listgroup-load {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.um-listgroup-load .pullLoading {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 6px;
    border: 2px solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: listgroupRotate 0.75s 0 linear infinite;
    animation: listgroupRotate 0.75s 0 linear infinite;
}

@-webkit-keyframes listgroupRotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes listgroupRotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.um-listgroup {
    outline:1px solid #ddd;
}

.um-listgroup-row{
    width:100%;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.um-listgroup-title{
    height:46px;
    padding: 0 0 0 15px;
    background:#ffffff;
    font-size: 16px;
    font-weight: bold;
    font-family: "Heiti SC", "microsoft yahei";
    border-bottom:1px solid #ddd;
}

.um-listgroup-title ~ ul {
    margin:0;
    border:none;
}

.um-listgroup-title ~ ul>li:first-child {
    border-image:none;
}

.um-listgroup-title ~ ul>li:last-child {
    border-bottom:1px solid #ddd;
}

.um-listgroup-icon {
    display:inline-block;
    margin-left:5px;
    margin-right:5px;
    font-weight:bold;
    transition: all 0.5s linear;
}

.um-listgroup-collapsed .um-listgroup-icon {
    -webkit-transform:rotate(-180deg);
    transform:rotate(-180deg);
}

.um-listgroup-adaptation {
	display: -webkit-box;
	display: box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	-webkit-flex-direction: column;
	flex-direction: column;
}



