.um-switch2[role=switch] + label {
    margin-right:0;
    background:#007AFF;
}
.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px
}
.swipe-wrap img {
    max-width: 100%;
}
#scroll_position1 .ui-btn {
    border: 0;
    background: transparent;
    color: #00a1ea;
}
#scroll_position1 .active {
    border-bottom: 2px solid #00a1ea;
    background: transparent;
}
#slider1 .swipe-wrap > div {
    padding: 20px 0;
}
.ui-mobile label {
margin:0;
}
.um-list-group {
    margin:0 -1em;
}